@use 'sass:math';

@function strip-unit($value) {
  @if type-of($value) == 'number' and not unitless($value) {
    @return math.div($value, ($value * 0 + 1));
  }

  @return $value;
}

@function rem($px, $base: 16px) {
  $px-value: if(unitless($px), $px * 1px, $px);
  $base-value: if(unitless($base), $base * 1px, $base);
  @return math.div($px-value, $base-value) * 1rem;
}

@function fluid-size($min-size, $max-size, $min-vw: 320px, $max-vw: 1440px) {
  $min-size-px: if(unitless($min-size), $min-size * 1px, $min-size);
  $max-size-px: if(unitless($max-size), $max-size * 1px, $max-size);
  $slope: math.div(strip-unit($max-size-px - $min-size-px), strip-unit($max-vw - $min-vw));
  $intercept: strip-unit($min-size-px) - ($slope * strip-unit($min-vw));

  @return clamp(rem($min-size-px), calc(#{$intercept}px + #{100 * $slope}vw), rem($max-size-px));
}
